/* Loading spinner animation for AddressAutocomplete */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.housesWrapper {
  position: relative;
  width: 100%;
  transform: scale(1);
  transform-origin: center top;

  @media (max-width: 48em) {
    transform: scale(1.2);
  }
}

